/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

/* Fonts */
body, h1, h2, h3, h4, h5, h6, p, a, ul {
    // color: $body-text-color;
} 
p, a, ul, ol {

}
ul li, ol li {
    margin: 0 0 0 20px;
    font-size: 18px;
}
dl, blockquote, img {

}

a {
    text-decoration:none;
    transition:$trans;
    &:hover {
        // color:$lt-red;
        text-decoration:none;
    }
}

.btn {
    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    transition:$trans;
    font-size: 18px;
    text-decoration: none !important;
    font-weight: 900;
    
    &:hover {
        // background-color:$dk-red;
    }
}

p {
    font-size:16px;
    line-height: 26px;
    margin-bottom:30px;
    margin-top: 0;

    &.small {
        font-size: 14px !important;
    }

    &.large {
        font-size: 22px;
    }

    &.green {
        color:#B5F44A !important;
    }

    &.centered {
        margin:0 auto;
    }
    
    a {
        font-family: inherit;
        color:inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: inherit;
        }
    }
}

h2, h3, h4 {
    line-height: 120%;
}

h2 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 40px;

    @include respond(phone) {
        font-size: 38px;
    }
}

h3 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;

    @include respond(phone) {
        font-size: 26px;
    }
}

h4 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 22px;
}

.body-container {
    ul li, 
    ul li a,
    ol li,
    ol li a {
        font-size:16px;
        line-height: 30px;
        margin-top: 0;
        font-family: inherit;
        color: inherit;
        margin:0 !important;
    }

    ul,
    ol {
        margin-bottom:30px;

        li {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    h2,
    h3 {
        font-weight: 800;
    }
}