/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/

@mixin respond($breakpoint) {
    @if ($breakpoint==desktop-fulll) {
        @media screen and (min-width:$desktop-full) { @content }
    }

    @if ($breakpoint==desktop-lg) {
        @media screen and (max-width:$desktop-lg) { @content }
    }

    @if ($breakpoint==desktop) {
        @media screen and (max-width:$desktop) { @content }
    }

    @if ($breakpoint==tab-land) {
        @media screen and (max-width:$tab-land) { @content }
    }

    @if ($breakpoint==tab-port) {
        @media screen and (max-width:$tab-port) { @content }
    }

    @if ($breakpoint==phone) {
        @media screen and (max-width:$phone) { @content }
    }
    
}


@mixin HEXtoRGBA ($property, $color, $opacity: 1) {
    #{$property}: rgba($color, $opacity)
}

@mixin drop-down-select {
    position: relative;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    @media screen and (max-width:$screen-sm) {
        margin-bottom: 20px;
    }
    #select-box {
        #options-view-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            &:checked ~ #options {
                border: 1px solid #e2eded;
                border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
            }
            &:checked ~ #options a {
                display: block;
                padding: 12px 14px;    
            }
            &:checked ~ #options #option-bg { display: block; }
        }
        #select-button {
            position: relative;
            height: 16px;
            padding: 12px 14px;
            background-color: $blk;
            cursor: pointer;
            height:100%;
            &.brd { 
                border-bottom: 2px solid $grey; 
            }
            #selected-value {
                font-size: 22px;
                line-height: 100%;
                text-align: center;
                font-family: $sans;
                margin-top: -5px;
            }
            #chevrons {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 12px;
                padding: 9px 14px;
            }
        }
        #options {
            position: absolute;
            top: 42px;
            right: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            z-index: 2;
            .options {
                position: absolute;
                left: 0;
                width: 100%;
                a {
                    display: none;
                    padding: 0;
                    color:$grey;
                }
            }
        }
    }

    .option, .label {
        color: $grey;
        font-size: 16px;
    }
    
    .option {
        position: relative;
        line-height: 1;
        transition: 0.3s ease all;
        z-index: 2;
        text-align: center;
        &:hover ~ #option-bg { background-color: $grey; }
        &:hover a { color: $white; }
    }

    a {
        display: none;
        padding: 0;
        color:$grey;
        font-family: $sans;

    }

    @-webkit-keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @-webkit-keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    @keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    #option-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        transition: 0.3s ease all;
        z-index: 1;
        display: none;
    }

    .option:nth-child(2):hover ~ #option-bg { top: 40px; }
    .option:nth-child(3):hover ~ #option-bg { top: 80px; }
    .option:nth-child(4):hover ~ #option-bg { top: 120px; }
    .option:nth-child(5):hover ~ #option-bg { top: 160px; }
    .option:nth-child(6):hover ~ #option-bg { top: 200px; }
    .option:nth-child(7):hover ~ #option-bg { top: 240px; }
    .option:nth-child(8):hover ~ #option-bg { top: 280px; }
    .option:nth-child(9):hover ~ #option-bg { top: 320px; }
    .option:nth-child(10):hover ~ #option-bg { top: 360px; }
    .option:nth-child(11):hover ~ #option-bg { top: 400px; }
    .option:nth-child(12):hover ~ #option-bg { top: 440px; }
    .option:nth-child(13):hover ~ #option-bg { top: 480px; }
    .option:nth-child(14):hover ~ #option-bg { top: 520px; }
    .option:nth-child(15):hover ~ #option-bg { top: 560px; }
    .option:nth-child(16):hover ~ #option-bg { top: 600px; }
    .option:nth-child(17):hover ~ #option-bg { top: 640px; }
    .option:nth-child(18):hover ~ #option-bg { top: 680px; }
    .option:nth-child(19):hover ~ #option-bg { top: 720px; }
}

@mixin related-posts() {
    margin: 0 auto;
    h2 {
        margin: 0 0 25px 0;
    }
    .card-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
    }
}

// main nav search
@mixin nav-search-desktop {
    &.search-holder {
        width:30px;
        justify-content: flex-end;

        .navbar-form-search {
            position: relative;
            z-index: 10;
    
            .icon-search-icon:before, 
            .icon-close-x:before {
                content: "";
                position: absolute;
                top: 9px;
                left: -9px;
                transition: 0.3s linear;
                -webkit-transition: 0.3s linear;
                z-index: 10;
                color: $white;
                font-size: 20px;
                font-weight: $normal;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .icon-search-icon:before {
                content:"\e901";
                font-family: $icomoon;
                color:$white;
                font-size: 18px;
            }
    
            .icon-close-x:before {
                background-image: url('/wp-content/themes/postali-tier1/assets/img/close-icon.svg');
            }
    
            .form-control {
                width: 175px;
                padding: 6px;
                font-size: 16px;
                border: 0;
                font-family: $sans;
            }
    
            .btn {
                border: 0;
                background: transparent;
                font-size: 1.8rem;
                padding:0;
                cursor: pointer;
                &:active,
                &:hover,
                &:focus {
                    color: #000;
                    outline: none;
                    box-shadow: none;
                }
                span {
                    color:$blk;
                    font-weight: bold;
                }
            }
    
            .btn-search {
                height:40px;
                border-radius: 0 10px 10px 0;
                background:$white;
                padding:8px;
                position: relative;
                top: 0;
                right: -5px;
                span {
                    color:$white;
                }
            }
            
            .search-form-container {
                text-align: right;
                position: absolute;
                width: 250px;
                overflow: hidden;
                background: $white;
                right: 11px;
                top: 0;
                z-index: 9;
                transition: all .3s ease-in-out;
                border-radius: 10px 0 0 10px;
    
                &.hdn {
                    width: 0;
                    
                    & ~ .btn-search {
                        height:39px;
                        border-radius: 0 10px 10px 0;
                        background: unset;
                        padding:8px;
    
                        &:hover {
                            .icon-magnifying-glass:before {
                                color: $white;
                            }
                        }
    
                        span {
                            color:$blk;
                        }
                    }
                }
    
                .search-input-group {
                    width: 250px;
                    display: flex;
                    padding: 5px;
                    height:30px;
                    
                    .btn {
                        border: 0;
                        background: $white;
                        font-size: 1.6rem;
                        padding: 4px 8px 0;
                        border-radius: 5px 0 0 5px;
                        height: 32px;

                        span {
                            color:$white;
                        }
                    }
                }
            }
        }
    }
}

@mixin nav-search-mobile {
    &.search-holder {
        width:100%;
        padding: 0 15px;
        box-sizing: border-box;
        position: absolute;
        z-index: 10000;
        bottom: 80px;
        background: $white !important;
        display: block;
        height: 70px;
        border-bottom: none;
        
        .navbar-form-search {    
            width:100%;
            
            .icon-magnifying-glass:before, 
            .icon-close-x:before {    
                left: 5px;
                top: calc(50% - 10px);
            }
    
            .form-control {
                width:100%;
            }
            
            .search-form-container {
                width:100%;
                left:0;
                right: auto;
                top:15px;
                border-radius: 0;
                background: $white;
    
                &.hdn {
                    width:100%;
                    
                    & ~ .btn-search {
                        width:auto;
                        height: 35px;
                        background: $white;
                        padding: 8px;
                        position: absolute;
                        z-index: 80;
                        right: 0;
                        top: 20px;
                        width: 35px;
                        border-radius: 0;
                        border: solid 3px $white;

                        span {
                            color:$white !important;
                        }

                        .icon-magnifying-glass:before {
                            color: $blk;
                        }
                    }
                }
    
                .search-input-group {
                    width:100%;
    
                    .form-group {
                        width:100%;
                    }
                    
                    .btn {
                        display:none;
                    }
                }
            }
        }
    }
}

@mixin mobile-subnav-menus {
    li {
        &:nth-child(1) {
            .sub-menu {
                top:0;
            }
        }

        &:nth-child(2) {
            .sub-menu {
                top:0;
            }
        }

        &:nth-child(3) {
            .sub-menu {
                top:-56px !important;
            }
        }

        &:nth-child(4) {
            .sub-menu {
                top:-113px !important;
            }
        }

        &:nth-child(5) {
            .sub-menu {
                top:-168px !important;
            }
        }
    }
}

@mixin homepage-column-33 {
    .column-33 {
        display:block;
        
        p {
            color:$white;
            border-top: 1px solid $white;
            padding-top: 40px;

            @include respond(phone) {
                padding-top: 40px;
            }
            
            span {
                color:#B5F44A;
                font-size: 125px;
                display: block;
                font-weight: bold;
                line-height: 95%;

                @include respond(phone) {
                    font-size: 90px;
                }
            }
        }

        &.left {
            margin:0 auto 0 0;
        }

        &.center {
            margin:0 auto;
        }

        &.right {
            margin:0 0 0 auto;
        }

        &.left,
        &.center,
        &.right {
            @include respond(phone) {
                margin:0;
                width: 100%;
            }
        }
    }
}

@mixin numbered-box {
    .numbered-box {
        width: 100%;
        border: 1px solid $white;
        border-bottom: none;

        .stage {
            display: flex;
            justify-content: center;
            padding: 25px 0;
            border-bottom: 1px solid $white;
            position: relative;
            color:$white;
            line-height: 125%;

            .stage-number {
                position: absolute;
                left: 20px;
                color: #0F1D43;
                font-size: 10px;
                font-weight: bold;
                height: 24px;
                width: 24px;
                background: #B5F44A;
                display: flex;
                justify-content: center;
                align-items: center;
                top: calc(50% - 12px);
                border-radius: 50%;
            }
        }
    }
}

@mixin contact-block {
    .main-contact {
        background-color:none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        
        .contact-block-left {
            display: block;
            width:auto;
            margin-right:20px;
        }
    
        .contact-block-right {
            display: block;
            width:auto;
            
            @include respond(desktop) {
                width:100%;
                margin-top: 15px;
            }

            p {
                margin-bottom: 0 !important;
                text-wrap:nowrap;

                a {
                    color:$white;
                    text-decoration: underline;
                    font-size: 16px;
                }
            }
        }
    }
}

@mixin landing-box {
    .landing-box-container {
        width: 32.3%;
        margin: .5%;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include respond(tab-port) {
            width:49%;
        }

        @include respond(phone) {
            width:100%;
        }
        
        .landing-box {
            padding: 40px;
            text-align: left;
            position: relative;
            box-sizing: border-box;
            min-height: 350px;

            @include respond(tab-port) {
                min-height: 295px;
                padding:40px 40px 0;
            }

            .value {
                display: flex;
                align-self: flex-end;
                margin-bottom: 20px;
                font-size: 15px;
                color: $white;
            }
        }
         
        h3 {
            font-size: 32px;
            font-weight: bold;
            color: $white;
            padding:0;
            margin:0 0 200px 0 !important;

            @include respond(tab-port) {
                margin-bottom: 100px !important;
            }
        }

        .accordions {
            position: absolute;
            box-sizing: border-box;
            height: 60px;
            border-bottom: none;
            bottom:0;
            background-color: $white;

            @include respond(tab-port) {
                position: relative;
            }

            @include respond(phone) {
                height:auto;
                margin-bottom: 20px;
            }

            &.active {
                z-index: 5;
            }

            &_title {
                justify-content: flex-end;
                padding: 0 20px;
                height: 60px;
                align-items: center;

                p {
                    margin:0;
                    font-size: 15px;
                    color:$white;
                }

                span {
                    align-self: center;
                    justify-self: end;
                    display: block;
                    margin-left: 15px;
                    display: inline-block;

                    &:after {
                        content: "+";
                        display: block;
                        transition: 0.2s linear;
                        position: relative;
                        top: 0;
                        right: 0;
                        font-weight: bolder;
                        font-size: 24px;
                        margin-left: 0px;
                        color:$white;
                    }
                }
            }

            &_content {
                display: none;
                text-align: left;
                font-family: $sans;
                width: 100%;
                line-height: 170%;
                padding: 20px 40px;
                box-sizing: border-box;
                position: relative;
                z-index: 5;
                
                p {
                    color:$white;
                }
            }
        }
    }
}

@mixin slick-arrows {
    .slick-prev::before {
        content: "\e908";
        font-family: $icomoon;
        display: block;
        color:$blk;
        font-size: 25px;
    }

    .slick-next::before {
        content: "\e909";
        font-family: $icomoon;
        display: block;
        color:$blk;
        font-size: 25px;
    }
}

@mixin awards-slider {
    #awards {
        z-index: 0;
        display:grid;

        .slick-list {
            width: 100%;

            .slick-track {
                display: flex;
                align-items: center;
                width: 100% !important;
    
                .slick-slide {
                    display: flex;
                    justify-content: center;
                    width: auto !important;
    
                    img {
                        max-height: 110px;
                        width: auto;
                        height: 100%;
                        margin:0 20px;
                    }
                }
            }
        }

        @include slick-arrows;
    }
}